@import "src/utils/reset";
@import "src/utils/mixins";

.charts {
  width: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  gap: 88px;

  &_linear {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > h3 {
      color: var(--text-darkblue-modal);
      font-family: Inter, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px; /* 140% */
      letter-spacing: -0.336px;
    }

    &_content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
  }

  &_bar {
    &_options {
      display: flex;
      gap: 8px;

      & > li {
        cursor: pointer;
        padding: 8px 12px;
        color: var(--text-gray-modal-subtitle);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px; /* 157.143% */
        letter-spacing: -0.128px;
        border-radius: 6px;
        transition: 0.3s;

        &.active {
          transition: 0.3s;
          background: var(--hover-lighblue);
          color: var(--accent-primary);
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: 22px; /* 157.143% */
          letter-spacing: -0.128px;
        }
      }
    }
  }
}