@import "src/utils/reset";
@import "src/utils/mixins";

.historyItem {
  padding: 16px 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px solid var(--border-light);
  border-left: 4px solid transparent;
  transition: 0.3s;

  &:hover {
    border-left: 4px solid var(--accent-primary);
    background: var(--hover-lighblue);
    transition: 0.3s;
  }

  &_droneIcon {
    & > img {
      width: 24px;
      height: 24px;
    }
  }

  &_info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &_left {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & > p:nth-child(1) {
        color: var(--text-darkblue-modal);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 600;
        //line-height: 24px; /* 171.429% */
      }

      & > p:nth-child(2) {
        color: var(--text-gray-modal-subtitle);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &_right {
      & > p {
        color: var(--text-gray-modal-subtitle);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}