.css-jsexje-MuiSwitch-thumb {
  border: 1px solid var(--border-light);
  background: var(--white) !important;
  box-shadow: none !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background: #3B82F6 !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track, .css-1yjjitx-MuiSwitch-track {
  opacity: 1 !important;
}

.css-1yjjitx-MuiSwitch-track {
  background: var(--border-light) !important;
}

.css-ahj2mt-MuiTypography-root {
  color: #A0A3A6;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
}